// COLOR VARIABLES
$color-primary: #212529;
$color-secondary: #616060;

$color-white: #fff;
$color-background: #f1f1f1;
$color-white-light: rgb(184, 184, 184);
$color-white-dark: rgb(116, 116, 116);

// FONT VARIABLES
$font-priamry: 'Raleway', sans-serif;

//NAV PADDING
$nav-pad: 1.5rem;
$nav-pad-right: 3rem;

//ANIMATIONS
@keyframes moveUp {
  0% {
    transform: translateY(0); }
  70% {
    transform: translateY(-0.5rem); }
  100% {
    transform: translateY(0); }
  }

@keyframes moveDown {
  0% {
    transform: translateY(0); }
  70% {
    transform: translateY(0.5rem); }
  100% {
    transform: translateY(0); }
  }

@keyframes moveIn {
  // Move from tob to bottom
  0% {
    opacity: 0;
    transform: translateY(-50rem); }

  100% {
    opacity: 1;
    transform: translateY(0); }
  }

@keyframes moveOut {
  // Move from bottom to top
  0% {
    opacity: 1;
    transform: translateY(0); }
    
  100% {
    opacity: 0;
    transform: translateY(-50rem); }
  }

// @keyframes rotate {
//   0% {
//     transform: rotate(0); }
//   100% {
//     transform: rotate(180deg); }
//   }

*,
*::before,
*::after {
  /* Every element including sudo elements */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px = 62.5% --> 1rem = 10px

  @media screen and (max-width: 600px) {
    font-size: 50.0%; //8px/16px = 50.0% --> 1rem = 5px
  }
}

h1,h2,h3,h4,h5,h6 {font-weight: normal}

body {
  font-family: $font-priamry;
  background-color: $color-background;
}

.mb-sm {margin-bottom: 2rem;}
.mb-med {margin-bottom: 3rem;}
.mb-lg {margin-bottom: 4rem;}
.mb-hg {margin-bottom: 6rem;}