.redirect {

  &__container {
    display: grid;
    grid-template-rows: [navbar-start] 5.6rem [ navbar-end content-start] 80vh [content-end footer-start] max-content [footer-end] min-content [page-end];
    grid-template-columns: [full-start] minmax(1rem, 1fr) [center-start] repeat(4, [col-start] minmax(min-content, 280rem) [col-end])
    [center-end] minmax(1rem, 1fr) [full-end];
  }

  &__content {
    grid-row: content-start / content-end;
    grid-column: center-start / center-end;
    justify-content: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 45rem;
    }
  }
}