@keyframes moveUp {
  0% {
    transform: translateY(0); }
  70% {
    transform: translateY(-0.5rem); }
  100% {
    transform: translateY(0); } }

@keyframes moveDown {
  0% {
    transform: translateY(0); }
  70% {
    transform: translateY(0.5rem); }
  100% {
    transform: translateY(0); } }

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateY(-50rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveOut {
  0% {
    opacity: 1;
    transform: translateY(0); }
  100% {
    opacity: 0;
    transform: translateY(-50rem); } }

*,
*::before,
*::after {
  /* Every element including sudo elements */
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media screen and (max-width: 600px) {
    html {
      font-size: 50.0%; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

body {
  font-family: "Raleway", sans-serif;
  background-color: #f1f1f1; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-med {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 6rem; }

.navbar {
  position: fixed;
  background-color: #212529;
  height: 5.6rem;
  width: 100vw;
  z-index: 100; }

.nav {
  display: grid;
  grid-template-columns: max-content 1fr repeat(4, max-content);
  grid-auto-rows: 4rem;
  grid-column-gap: 1.6rem;
  align-items: center;
  height: 100%;
  padding-top: 0.8rem; }
  .nav__link, .nav__link:visited {
    text-decoration: none;
    align-self: center;
    color: #747474; }
    .nav__link.active, .nav__link:visited.active {
      color: #fff; }
  .nav__link:hover, .nav__link:active, .nav__icon:hover, .nav__icon:active {
    color: #b8b8b8; }
    .nav__link:hover.active, .nav__link:active.active, .nav__icon:hover.active, .nav__icon:active.active {
      color: #fff; }
  .nav__item {
    list-style: none;
    position: relative;
    letter-spacing: .5rem;
    font-size: 1.5rem;
    transition: all 0.3s; }
    .nav__item--1 {
      grid-column: 1 / 2;
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.5;
      padding-left: 1.5rem;
      z-index: 100; }
    .nav__item--2 {
      grid-column: 3 / 4; }
    .nav__item--3 {
      grid-column: 4 / 5; }
    .nav__item--4 {
      grid-column: 5 / 6; }
    .nav__item--5 {
      grid-column: 6 / 7;
      padding-right: 3rem; }
  .nav__menu {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 50; }
    @media screen and (max-width: 800px) {
      .nav__menu {
        grid-column: 1 / -1;
        display: none;
        padding-left: 1.5rem;
        background-color: #212529; } }
    @media screen and (min-width: 801px) {
      .nav__menu {
        display: flex !important;
        animation: none !important; } }
  .nav__icon {
    display: none;
    position: relative;
    z-index: 100;
    transition: all 1s; }
    @media screen and (max-width: 800px) {
      .nav__icon {
        grid-column: 6 / -1;
        grid-row: 1 / 2;
        display: block;
        color: #747474;
        padding-right: 3rem; } }
    @media screen and (min-width: 801px) {
      .nav__icon {
        display: none !important; } }
    .nav__icon--up {
      display: none; }
      .nav__icon--up:hover {
        animation: moveUp 1s infinite; }
    .nav__icon--down:hover {
      animation: moveDown 1s infinite; }

.header {
  grid-row: header-start / header-end;
  grid-column: full-start / full-end;
  display: grid;
  justify-items: center;
  align-items: center;
  color: #fff;
  letter-spacing: 1rem;
  word-spacing: 1rem; }
  .header__title {
    font-size: 6rem;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center; }
  .header__animation {
    animation-duration: 3s;
    text-align: center; }

.btn {
  background-color: #212529;
  color: #fff;
  border: none;
  border-radius: .4rem;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #616060; }

.footer {
  grid-row: footer-start / footer-end;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  padding: 8rem 2rem 1rem 2rem;
  background-color: #212529;
  color: #fff; }
  .footer__features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    padding-bottom: 4rem; }
    .footer__features .footer__feature {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      .footer__features .footer__feature--list {
        list-style: none; }
        .footer__features .footer__feature--list > li {
          padding-bottom: .5rem; }
  .footer .footer__bottom {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem; }
    .footer .footer__bottom .footer__socials {
      flex-shrink: 0; }
    .footer .footer__bottom .footer__socials--icon {
      margin-left: 1rem; }

.main-heading {
  font-size: 3.5rem;
  letter-spacing: .5rem;
  word-spacing: 1rem;
  text-transform: uppercase; }

.secondary-heading {
  font-size: 3rem;
  letter-spacing: .5rem;
  padding: 1rem 0 2rem 0; }

.thirdary-heading {
  font-size: 2rem;
  letter-spacing: .5rem;
  padding: 1rem 0 2rem 0; }

.paragraph {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: .3rem; }

.footer__bottom--paragraph {
  color: #747474;
  font-size: 1.5rem;
  letter-spacing: 5px;
  word-spacing: 10px; }

.about__container {
  display: grid;
  grid-template-rows: [navbar-start] 5.6rem [navbar-end header-start] 90vh [header-end description-start] 60vh [description-end] min-content [team-start] min-content [team-end footer-start] max-content [footer-end] min-content [page-end];
  grid-template-columns: [full-start] minmax(1rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(1rem, 1fr) [full-end]; }

.about__header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/office.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.about__achievements {
  grid-row: description-start / description-end;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: 4fr 5fr;
  grid-column-gap: 5vw;
  align-content: center;
  justify-items: center;
  align-items: start; }

.about__main-heading {
  grid-column: 1 / 2;
  text-align: center; }

.about__paragraph {
  grid-column: 2 / 3; }

.about__team {
  grid-row: team-start / team-end;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: 30rem repeat(6, minmax(90vh, min-content));
  grid-template-columns: minmax(1rem, 1fr) 8fr minmax(1rem, 1fr);
  justify-items: center;
  align-items: center;
  border-top: 1px solid #616060;
  margin-bottom: 10rem; }
  .about__team--heading {
    grid-column: 1 / -1;
    text-align: center; }
  .about__team--person {
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-column-gap: 5vw;
    grid-row-gap: 5rem;
    padding-bottom: 15rem; }
    @media screen and (max-width: 1000px) {
      .about__team--person {
        grid-template-columns: 1fr; } }
    .about__team--person .description h1 {
      text-transform: none; }
    .about__team--person .left {
      order: 0; }
    .about__team--person .right {
      order: 1; }
    .about__team--person .image {
      width: 100%;
      border-radius: .5rem; }
      @media screen and (max-width: 1000px) {
        .about__team--person .image {
          order: 2 !important; } }

.contact__container {
  display: grid;
  grid-template-rows: [navbar-start] 5.6rem [navbar-end header-start] 30rem [header-end content-start] 60rem [content-end footer-start] max-content [footer-end] min-content [page-end];
  grid-template-columns: [full-start] minmax(1rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(1rem, 1fr) [full-end]; }
  @media (max-width: 800px) {
    .contact__container {
      grid-template-rows: [navbar-start] 5.6rem [navbar-end header-start] 30rem [header-end content-start] 35rem [content-end forms-start] 45rem [forms-end footer-start] max-content [footer-end] min-content [page-end]; } }

.contact__mission {
  grid-row: header-start / header-end;
  grid-column: col-start 2 / col-end 7;
  align-self: center; }

.contact__main-heading {
  text-align: center; }

.contact__content {
  grid-row: content-start / content-end;
  grid-column: center-start / col-end 4; }
  @media (max-width: 800px) {
    .contact__content {
      grid-column: col-start 1 / col-end 8;
      text-align: center; } }

.contact__forms {
  grid-row: content-start / content-end;
  grid-column: col-start 5 / col-end 8; }
  @media (max-width: 800px) {
    .contact__forms {
      grid-row: forms-start / forms-end;
      grid-column: col-start 1 / col-end 8; } }
  .contact__forms .form-group {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
    .contact__forms .form-group .input {
      width: 100%;
      font-family: inherit;
      font-size: 1.5rem;
      line-height: inherit;
      color: #212529;
      padding: .5rem 1rem;
      outline: 0;
      border: 2px solid #b8b8b8;
      border-radius: .4rem;
      transition: all .15s ease-in-out; }
      .contact__forms .form-group .input:focus {
        border-color: #212529;
        box-shadow: 0 0 0 0.4rem rgba(82, 82, 82, 0.25); }
      .contact__forms .form-group .input::placeholder {
        color: #212529;
        font-weight: 300;
        font-size: 1.5rem;
        opacity: .4; }

.home__container {
  display: grid;
  grid-template-rows: [navbar-start] 5.6rem [navbar-end header-start] 90vh [header-end description-start] 60vh [description-end] min-content [features-start] min-content [features-end footer-start] max-content [footer-end];
  grid-template-columns: [full-start] minmax(1rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(1rem, 1fr) [full-end]; }

.home__header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/main.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.home__mission {
  grid-row: description-start / description-end;
  grid-column: col-start 2 / col-end 7;
  display: grid;
  grid-row-gap: 2rem;
  justify-items: center;
  align-items: center; }

.home__main-heading {
  align-self: end; }

.home__paragraph {
  align-self: start;
  text-align: center; }

.home__intro {
  grid-row: description-end / features-start;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  /* Order of paragraphs and images in section home__intro */ }
  .home__intro--option {
    display: flex;
    padding: 5rem 0;
    border-top: 1px solid #b8b8b8; }
    @media screen and (max-width: 600px) {
      .home__intro--option {
        flex-direction: column;
        align-items: center; } }
    .home__intro--option:last-child {
      border-bottom: 1px solid #b8b8b8; }
    .home__intro--option-1 {
      grid-row: 1 / 2; }
    .home__intro--option-2 {
      grid-row: 2 / 3; }
    .home__intro--option-3 {
      grid-row: 3 / 4; }
  .home__intro--p {
    width: 30%;
    padding: 0 2rem; }
    @media screen and (max-width: 600px) {
      .home__intro--p {
        width: 70%;
        padding-bottom: 5rem; } }
    .home__intro--p-1 {
      order: 1; }
    .home__intro--p-2 {
      order: 2; }
  .home__intro--img {
    width: 70%;
    padding: 0 2rem; }
    @media screen and (max-width: 600px) {
      .home__intro--img {
        width: 90%;
        order: 3 !important; } }
    .home__intro--img-1 {
      order: 2; }
    .home__intro--img-2 {
      order: 1; }

.home__features {
  grid-row: features-start / features-end;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-row-gap: 5rem;
  grid-column-gap: 6.5rem;
  justify-content: center;
  align-content: center;
  padding: 10rem 2rem; }
  @media screen and (max-width: 1000px) {
    .home__features {
      grid-template-columns: minmax(40rem, 0.6fr); } }
  .home__features .feature {
    display: grid;
    grid-template-rows: min-content 8rem 1fr min-content;
    grid-gap: 1.5rem;
    justify-items: center;
    align-items: start;
    padding: 3rem;
    text-align: center; }
    .home__features .feature__icon {
      width: 6rem;
      height: 6rem; }
    .home__features .feature h2 {
      align-self: center; }

.projects__container {
  display: grid;
  grid-template-rows: [navbar-start] 5.6rem [navbar-end header-start] 90vh [header-end description-start] 60vh [description-end] min-content [features-start] min-content [features-end footer-start] max-content [footer-end];
  grid-template-columns: [full-start] minmax(1rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(1rem, 1fr) [full-end]; }

.projects__header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/projects.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.projects__mission {
  grid-row: description-start / description-end;
  grid-column: col-start 2 / col-end 7;
  display: grid;
  grid-row-gap: 2rem;
  justify-items: center;
  align-items: center; }

.projects__main-heading {
  align-self: end;
  text-align: center; }

.projects__paragraph {
  align-self: start; }

.projects__gallery {
  grid-row: features-start / features-end;
  grid-column: full-start / full-end;
  border-top: 1px solid #b8b8b8;
  padding: 13rem 0;
  display: grid;
  grid-template-columns: [full-start] minmax(1rem, 1fr) [center-start] repeat(2, [col-start] minmax(min-content, 50rem) [col-end]) [center-end] minmax(1rem, 1fr) [full-end];
  grid-column-gap: .5rem; }
  .projects__gallery .column--1 {
    grid-column: center-start / col-end 1; }
    @media (max-width: 600px) {
      .projects__gallery .column--1 {
        grid-column: center-start / col-end 2; } }
  .projects__gallery .column--2 {
    grid-column: col-start 2 / center-end; }
    @media (max-width: 600px) {
      .projects__gallery .column--2 {
        grid-column: center-start / col-end 2; } }
  .projects__gallery .column img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: .5rem; }
    @media (max-width: 600px) {
      .projects__gallery .column img {
        margin-top: 1rem; } }

.redirect__container {
  display: grid;
  grid-template-rows: [navbar-start] 5.6rem [navbar-end content-start] 80vh [content-end footer-start] max-content [footer-end] min-content [page-end];
  grid-template-columns: [full-start] minmax(1rem, 1fr) [center-start] repeat(4, [col-start] minmax(min-content, 280rem) [col-end]) [center-end] minmax(1rem, 1fr) [full-end]; }

.redirect__content {
  grid-row: content-start / content-end;
  grid-column: center-start / center-end;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .redirect__content img {
    width: 45rem; }
